.h3:first-child {
  color: pink;
}

.greycol {
  color: gray;
}

#text {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}

.day1:hover {
  color: aqua;
}
.day2:focus {
  background-color: brown;
}
.day3:link {
  font-size: 24px;
}
.day4:visited {
  color: black;
}
.day5:disabled {
  color: yellow;
  background-color: green;
  font-size: 25px;
}
